header {
    background-color: #311B92;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

main h1 {
    font-size: 2rem;
}

main p {
    font-size: 1.2rem;
}

form {
    width: 50%;
}